@use "./shared.scss";

.About {
  background-color: shared.$colorBg1;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1,
  h2 {
    // outline: 1px solid red;
    width: 14rem;
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    color: shared.$textColor2;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.1rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: shared.$colorBg2;

      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid shared.$textColor2;
      height: 2px;
      width: 0%;
      right: 0;
      bottom: 0;
      transition: width 0.2s ease-in-out;
    }
  }

  h2 {
    &::after {
      position: absolute;
      content: "_";
      animation-name: anim;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  @keyframes anim {
    from {
      content: "";
    }
    to {
      content: "_";
    }
  }

  .divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    & svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 36px;
    }

    & .shape-fill {
      fill: shared.$colorBg2;
    }
  }
}
