@use "./shared.scss";

.About {
  background-color: shared.$colorBg1;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    position: absolute;
    top: 0;
    right: 0;
    color: shared.$textColor2;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.1rem;

    &:hover {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 2px solid shared.$textColor2;
      height: 2px;
      width: 0%;
      right: 0;
      bottom: 0;
      transition: width 0.2s ease-in-out;
    }
  }

  h1 {
    font-weight: bold;
    letter-spacing: 0.14rem;
    font-size: 2rem;
    color: shared.$textColor2;
  }

  h2 {
    font-weight: normal;
    font-size: 1.4rem;
    color: shared.$textColor3;
  }

  .custom-shape-divider-bottom-1665589859 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    & svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 36px;
    }

    & .shape-fill {
      fill: shared.$colorBg2;
    }
  }
}
