@use "./shared.scss";

.Projects {
  background-color: shared.$colorBg2;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2.4rem;
  padding-inline: 0.6rem;

  .projectList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
