@use './shared.scss';

.Project {
  display: flex;
  flex-direction: column;
  background-color: shared.$colorBg2;
  border-radius: shared.$borderRadius;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    box-shadow: shared.$shadowInset;
    border-radius: shared.$borderRadius;
    pointer-events: none;
  }

  .img {
    margin-bottom: -8px;
    
    img {
      border-top-left-radius: shared.$borderRadius;
      border-top-right-radius: shared.$borderRadius;
      box-shadow: shared.$borderRadius;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 0.6rem;
    padding-bottom: 1.3rem;
    padding-inline: 1.3rem;

    .title {
      color: shared.$textColor;
    }

    .moreInfo {
      display: flex;
      justify-content: space-between;

      .technologiesUsed {
        display: flex;
        gap: 0.8rem;
        flex-wrap: wrap;
        justify-content: center;
  
        img {
          height: 2rem;
          width: 2rem;
        }
      }
  
      .links {
        display: flex;
        gap: 0.8rem;
        justify-content: flex-end;
        flex-wrap: wrap;
  
        & > * {
          height: 2rem;
          width: 2rem;
        }
      }
    }

  }
}

@media (min-width: shared.$breakpoint1) {
  .Project {
    .info {
      padding: 2rem;
      gap: 2rem;

      .title {
        font-size: 1.8rem;
      }

      .moreInfo {
        .technologiesUsed {
          gap: 1.6rem;

          img {
            width: 2.7rem;
            height: 2.7rem;
          }
        }

        .links {
    
          & > * {
            height: 2.7rem;
            width: 2.7rem;
          }
        }
      }
    }
  }
}

@media (min-width: shared.$breakpoint2) {
  .Project {
    flex-direction: row;

    .img {
      margin-bottom: 0;
      width: 65%;
    }

    .info {
      align-items: center;
      width: 35%;
      padding: 1.2rem;
      
      .title {
        font-size: 1.9rem;
      }

      .moreInfo {
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        gap: 0.8rem;
        width: 100%;

        .technologiesUsed {
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          flex-wrap: wrap;
          flex-grow: 1;
          gap: 1rem;
          padding-bottom: 2rem;

          img {
            height: 3.4rem;
            width: 3.4rem;
          }
        }

        .links {
          gap: 1.2rem;

          & > * {
            height: 2.6rem;
            width: 2.6rem;
          }
        }
      }
    }
  }
}
