$colorBg1: rgb(45, 45, 45);
$colorBg2: rgb(52, 52, 52);
$colorBg3: rgb(39, 39, 39);

$textColor: white;
$textColorSecondary: rgb(184, 184, 184);

$shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.6); 
$shadowInset: inset 2px 2px 7px 0px rgba(0, 0, 0, 0.6); 

$borderRadius: 0rem;
