$colorBg1: #041c32;
$colorBg2: #04293a;
$colorBg3: #064663;

$textColor: black;
$textColor2: white;
$textColor3: rgb(151, 151, 151);

$shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.55);
$shadowInset: inset 4px 4px 8px 0px rgba(0, 0, 0, 0.55);

$borderRadius: 0rem;

$breakpoint1: 580px;
$breakpoint2: 880px;
